*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(Media/Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navigationbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navigationbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}

.navigationbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logo{
    width:10%;
    cursor: pointer;
    display: flex;
}


.content{
    width: 100%;
    position: relative;
    top: 30%;
}

.poza{
    width: 100%;
    position: relative;
    top: 30%;
    bottom: 280px;
}


.text{
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 7px;
    color:Black;
    bottom: 270px;
    align-items: center;

}

.poza-arhiva1{
    align-items: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: -2000px;
}

p{
    font-size: 20px;
    color: black;
    text-indent: 2%;
    text-align: center;
}

.footer{
    width: 100%;
    position: relative;
    top: 30%;
}

.poza-arhiva2
{
    object-position: bottom;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -1120px; 
}

.paragrafe{
    position: relative;
    align-items: left;
    font-family: Arial, sans-serif;

} 

.mijloc{
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.p{
    font-family: Noto;
}