.container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 20vh;
    width: 100%;
    background-image: url(Media/Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;

}

.gallery-item{
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: white;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus,.gallery-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info{
    display: none;
    
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loader{
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
} 

@media screen and (max-width:40rem){
    
}